body{
  margin: 0;
  background: #fffdc1;
}

.nav-bar{
  background: #8133e0;
  font-size: 1.5em;

}

.navi{
  display: inline-block;
}

.content{
  margin:auto;
  width: 1280px;
  background: #ffffff;
}
