/* *{
  border: red 1px solid
}

.green{
  border: green 1px solid
}

.blue{
  border: blue 1px solid
}
*/

/*
* Main set-up for page
*/
body {
  margin: 0;
  background: #eee;
}

h3{
  padding: 0;
  margin: 0;
}


@media only screen and (min-width: 720px){
  /*
  * Nav bar style here
  */
.nav-bar-main{
  background: #000;
  color: #fff;
  font-size: 1.5em;
}

.nav-bar-content{
  margin: auto;
  width: 80%;
  overflow: hidden;
  height: inherit;
}

.nav-bar-buttons ul {
  margin: 0;
  padding: 0;
}

.nav-bar-buttons{
 float: right;
 margin-top: 5px;

}

.nav-button{
  margin-left: 20px;
}

.nav-button:hover{
  background: blue;
}

.nav-button a{
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

/*
* Style for main content sections
*/
.page-container{
  width: 80%;
  margin: auto;
  background: #fff;
  padding-top: 30px;
}

.section-title{
  text-align: center;
  font-size: 2em;
  font-family: inherit;
}

.section-content{
  margin: 0 20px 20px 20px;
}

/*
* Generic style code below
*/
.ilb{
  display: inline-block;
}

}
